{% section 'headder' %}
{% assign shipping_value = 7500 %}
{% assign cart_total = cart.total_price %}
{% assign shipping_value_left = shipping_value | minus: cart_total %}

<p class="shipping-savings-message">
  {% if shipping_value_left > 0 %}
  You are {{ shipping_value_left | money }} away from free shipping!  <a href="/collections/all">Continue shopping</a> to add more products to your cart and receive free shipping for orders over $75.
  {% else %}
    You've got free shipping!
  {% endif %}
</p>
{% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" id="form" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              
              {% if item.price  != 0.00 %}
                  {% comment %} <h3>Zero price is here// {{ item.price }} //</h3> {% endcomment %}
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
              {% endif %}
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              {% if item.price  != 0.00 %}
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" line="{{ forloop.index }}">
              {% endif %}
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="update-btn">
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
<style>
  .update-btn{
    display: flex;
    justify-content: center;
  }
    .shipping-savings-message {
    background-color: #f9ffe6;
    border: 3px solid green;
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
  }
</style>
{% include 'cart-add-on' %}