<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% section 'headder' %}
{% include 'ajaxify-cart' %}

<div class="product">
  <h2>{{ product.title }}</h2>
  <img src="{{ product.featured_image | img_url: '200x200' }}" alt="product">
</div>
<div class="product">
  {% assign price = {{ product.price | money_without_currency }} %}
  <h3>{{ price }}</h3>
  <p>{{ product.description }}</p>
</div>
<div class="product">
  <p>Product Origin: {{ product.origin.product_weight }}</p>
</div>
<div class="product">
  <form
    action="/cart/add"
    method="post"
    enctype="multipart/form-data">
    <select name="id" id="selectedvarid">
      {% for variant in product.variants %}
        {% if variant.available == true %}
          <option value="{{variant.id}}">
            {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
        {% else %}
          <option disabled="disabled">
            {{ variant.title }} - sold out!</option>
        {% endif %}
      {% endfor %}
    </select>
    {% if price != 0.00 %}
      <input
        type="submit"
        name="add"
        id="add"
        value="Add to Cart"
        class="button">
      <button class="button" id="addbyajax">Add to cart by Ajax</button>
    {% endif %}
  </form>
  <form method="post" action="/cart/add">
    <input
      type="hidden"
      name="id"
      value="{{ product.variants.first.id }}" />
    <label for="quantity">Qty:
    </label>
    <input
      min="1"
      type="number"
      id="quantity"
      name="quantity"
      value="1" />
    <input
      type="submit"
      value="Add to cart"
      class="btn" />
  </form>
</div>
<style>
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }
</style>
<script>
  $('#addbyajax').click(function() {
    var ID = $('#selectedvarid').find(":selected").val();
    addItemToCart(ID, 1); // paste your id product number
  });

  function addItemToCart(variant_id, qty) {
    data = {
      "id": variant_id,
      "quantity": qty
    }

    jQuery.ajax({
      type: 'POST',
      url: '/cart/add',
      data: data,
      dataType: 'json',
      success: function() {
        event.preventDefault();
      }
    });
    event.preventDefault();
  }
</script>